@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navbar {
    background-color: #FACA72;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

.navbar .nav-link {
    color: #240C3C;
}

.navbar .navbar-brand,
.navbar .navbar-toggler {
    color: #240C3C;
    font-weight: 800;
}

.logo {
    width: 70px; /* Adjust the width of the logo if needed */
    height: auto;
}